<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-col-wrapper"> 
            <table class="footer-col">
                <tr>
                    <td>
                        {% include icon-mail.html username=site.email %}
                    </td>
                    <td>
                        {% include icon-twitter.html username=site.twitter_username %}
                    </td>
                    <td>
                        {% include icon-github.html username=site.github_username %}
                    </td>
                    <td>
                        {% include icon-linkedin.html username=site.linkedin_username %}
                    </td>
                    <td>
                        {% include icon-vimeo.html username=site.vimeo_username %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</footer>