<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h3 class="footer-heading">About</h3>
          <p>I'm Chris, and thank you for visiting my portfolio. Having worked as an artist in both the games and film industries, I've had the pleasure of doing a bit of everything, and I'm itching to try new things still.</p>
      </div>

      <div class="footer-col footer-col-2">
        <h3 class="footer-heading">Mentorships</h3>
          <p>Everyone needs to get started somewhere. If you have any questions about getting into or working in the film or games industries, don't hesitate to get in touch and I'll get back to you as soon as I can.</p>
      </div>
    </div>
  </div>
</footer>
