<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <h3 id="recent-projects">Recent Projects</h3>
          <ul>
            <li>Unannounced title (2018)</li>
            <li>Battlefield 1: They Shall Not Pass DLC (2017)</li>
            <li>Star Wars Battlefront: Rogue One - Scarif DLC (2017)</li>
            <li>Battlefield 1 (2016)</li>
            <li>Star Wars Battlefront (2016)</li>
          </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p>I'm Chris, and thank you for visiting my portfolio. Having worked as an artist in both the games and film industries, I've had the pleasure of doing a bit of everything, and I'm itching to try new things still.</p>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          {% if site.email %}
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% endif %}

          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.linkedin_username %}
          <li>
            {% include icon-linkedin.html username=site.linkedin_username %}
          </li>
          {% endif %}

          {% if site.vimeo_username %}
          <li>
            {% include icon-vimeo.html username=site.vimeo_username %}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</footer>
