---
layout: default
---
<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {% if post.tag != "repost" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        {% endif %}

        {% if post.tag == "repost" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h2>
          <a class="post-link" href="{{ post.link }}">{{ post.title | escape }}</a>
        </h2>
        {{ post.content }}
        {% endif %}
        
      </li>
    {% endfor %}
  </ul>

</div>
